body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

div {
  margin-bottom: 20px;
}

h3 {
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

p {
  font-size: 18px;
  color: #333;
}

/* MetaMask connection styles */
button.connectButton {
  background-color: #008CBA;
}

button.connectButton:hover {
  background-color: #005b7f;
}

p.connectedAccount {
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}
